<section style="background-color: #b5defd">
  <div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-1">
            <div
              class="row justify-content-md-center align-middletext-center mt-3"
            >
              <div class="col col-lg-2">
                <a class="btn btn-primary btn-sm" routerLink="/add-todo"
                  ><i class="bi bi-plus-square"></i> Create New</a
                >
              </div>
              <div class="col col-lg-2">
                <h5 class="">Todo</h5>
              </div>
            </div>
            <hr />
            <table class="table">
              <thead>
                <tr class="text-center align-middle">
                  <th scope="col">Status</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center align-middle" *ngFor="let item of todo">
                  <td>
                    <input
                      type="checkbox"
                      class="form-check-input"
                      value="item._id"
                      [ngModel]="item.isDone"
                      (change)="item.isDone = !item.isDone"
                      [checked]="item.isDone"
                    />
                  </td>
                  <td>
                    <span
                      class="todo-title m-2"
                      [ngClass]="{ 'todo-complete': item.isDone }"
                    >
                      {{ item.name }}
                    </span>
                  </td>

                  <td>
                    <span
                      class="todo-title m-2"
                      [ngClass]="{ 'todo-complete': item.isDone }"
                    >
                      {{ item.description }}
                    </span>
                  </td>
                  <td>
                    <a
                      class="btn btn-primary"
                      [routerLink]="['edit-todo', item._id]"
                      ><i class="bi bi-pencil-square"></i>
                    </a>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="openDeletePopup(item._id)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure to delete this task?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
          <i class="bi bi-trash"></i> Confirm Delete
        </button>
      </div>
    </div>
  </div>
</div>
